IONROUTER_API_KEY=your_ionrouter_key_here
IONROUTER_BASE_URL=https://api.ionrouter.io/v1
ELEVENLABS_API_KEY=your_elevenlabs_key_here
VIRTUALS_API_KEY=your_virtuals_key_here
WALLET_PRIVATE_KEY=your_solana_wallet_private_key_base58
